## Example use of `myfitness` package

Python test file demonstrating how the `myfitness` package works

#### Create health data record

Create a health data record for one or more people and import health data file, using the `data` module:

In [5]:
from myfitness.healthdata import data

# Create record
p1 = data.healthdata("Liza", "44", "F", "Health Data.csv")
p2 = data.healthdata("Bob", "42", "M", "Health Data 2.csv")
p1.display()

# Import data into a Pandas DataFrame
p1data = p1.data()
p1data.head()

Name: Liza, Age: 44, Gender: F
Name: Liza, Age: 44, Gender: F

               Start             Finish  Distance (mi)  Steps (count)
0  12-Feb-2017 00:00  13-Feb-2017 00:00       0.559483         1180.0
1  13-Feb-2017 00:00  14-Feb-2017 00:00       2.591677         5353.0
2  14-Feb-2017 00:00  15-Feb-2017 00:00       1.422008         3055.0
3  15-Feb-2017 00:00  16-Feb-2017 00:00       3.953369         7925.0
4  16-Feb-2017 00:00  17-Feb-2017 00:00       1.990246         4130.0

#### Charting

You can create a barchart of any column, using the `chart` module

In [4]:
from myfitness.healthdata import chart

# Define your values and labels
xaxis = p1data["Start"].tolist()
yaxis = p1data["Distance (mi)"].tolist()
xlabel = "Date"
ylabel = "Miles Walked"

# Chart is rendered both in-browser and saved to file in your working directory
chart.chart(xaxis,yaxis,xlabel,ylabel)

file:///var/folders/jb/ght0074d3n11s6s_4svlvgz40000gn/T/tmp__vlrt75.html

#### Summary Statistics

You can find the maximum and minimum number of steps and summarize the data into a table of monthly average steps, using the `summary` subpackage.

The `maxmin` module in this package is used to find the days and distances for the maximum and minimum number of steps.

To find the day with the maximum number of steps, and total distance:

In [6]:
from myfitness.summary import maxmin

maxmin.getMax(p1data)

Start            17-Jun-2018 00:00
Finish           18-Jun-2018 00:00
Distance (mi)              10.0999
Steps (count)                21898
Name: 490, dtype: object

To find the day with the minimum number of steps, and total distance:

In [7]:
maxmin.getMax(p1data)

Start            17-Jun-2018 00:00
Finish           18-Jun-2018 00:00
Distance (mi)              10.0999
Steps (count)                21898
Name: 490, dtype: object

Use the `table` module to create the summary table of monthly average steps:

In [8]:
from myfitness.summary import table

table.summary_data(p1data)

                  steps
date
2017-02-28  5526.352941
2017-03-31  3804.387097
2017-04-30  4386.300000
2017-05-31  4125.516129
2017-06-30  7099.666667
2017-07-31  3904.516129
2017-08-31  3936.096774
2017-09-30  6560.033333
2017-10-31  4244.161290
2017-11-30  4133.733333
2017-12-31  3404.806452
2018-01-31  4326.935484
2018-02-28  4205.892857
2018-03-31  4097.096774
2018-04-30  4952.866667
2018-05-31  5068.580645
2018-06-30  8862.733333
2018-07-31  5380.387097
2018-08-31  3774.967742
2018-09-30  4804.000000
2018-10-31  4871.025866
2018-11-30  4604.152294