# `healthdata` Subpakage Testing 

Conducted by Levannia Lildhar 

This file will serve to test the modules in the `myfitness` package, particularly the `healthdata` subpackage

## Testing `data` module

As an overview the module will be imported and all functions in the data module will be tested using trial data.

In [1]:
""" Test for superclass Person to be used in testing
    Input: name, age, gender 
    Output: Person object"""

import data

liza = data.Person('Liza', 30, 'F')
type(liza)

data.Person

In [2]:
"""Test for the display function of the Person class
    Input: Person object created above
    Output: print statement of Person attributes"""

liza.display()

Name: Liza, Age: 30, Gender: F

In [3]:
""" Test for the child class healthdata to be used in testing
    Input: name, age, gender, file (Health Data.csv is used as a test file) 
    Output: healthdata object"""

liza_healthdata = data.healthdata('Liza', 30, 'F', 'Health Data.csv')
type(liza_healthdata)

data.healthdata

In [4]:
"""Test for the data function of the healthdata class
    Input: healthdata object initialized above 
    Output: object.display() and dataframe of imported heathdata object file"""

liza_healthdata.data()

Name: Liza, Age: 30, Gender: F

                 Start             Finish  Distance (mi)  Steps (count)
0    12-Feb-2017 00:00  13-Feb-2017 00:00       0.559483    1180.000000
1    13-Feb-2017 00:00  14-Feb-2017 00:00       2.591677    5353.000000
2    14-Feb-2017 00:00  15-Feb-2017 00:00       1.422008    3055.000000
3    15-Feb-2017 00:00  16-Feb-2017 00:00       3.953369    7925.000000
4    16-Feb-2017 00:00  17-Feb-2017 00:00       1.990246    4130.000000
5    17-Feb-2017 00:00  18-Feb-2017 00:00       2.198666    4540.000000
6    18-Feb-2017 00:00  19-Feb-2017 00:00       1.164164    2549.000000
7    19-Feb-2017 00:00  20-Feb-2017 00:00       0.186647     409.000000
8    20-Feb-2017 00:00  21-Feb-2017 00:00       2.209832    4377.000000
9    21-Feb-2017 00:00  22-Feb-2017 00:00       3.299301    6549.000000
10   22-Feb-2017 00:00  23-Feb-2017 00:00       0.966965    2102.000000
11   23-Feb-2017 00:00  24-Feb-2017 00:00       2.239490    4572.000000
12   24-Feb-2017 00:00  25-Feb-2017 00:00       2.277183    4696.000000
13   25-Feb-2017 00:00  26-Feb-2017 00:00       1.707453    3582.000000
14   26-Feb-2017 00:00  27-Feb-2017 00:00       2.692656    5562.000000
15   27-Feb-2017 00:00  28-Feb-2017 00:00       8.148861   16373.000000
16   28-Feb-2017 00:00  01-Mar-2017 00:00       8.355746   16994.000000
17   01-Mar-2017 00:00  02-Mar-2017 00:00       2.074908    4345.000000
18   02-Mar-2017 00:00  03-Mar-2017 00:00       1.721304    3423.000000
19   03-Mar-2017 00:00  04-Mar-2017 00:00       2.237235    4489.000000
20   04-Mar-2017 00:00  05-Mar-2017 00:00       1.840545    4410.000000
21   05-Mar-2017 00:00  06-Mar-2017 00:00       1.079782    2365.000000
22   06-Mar-2017 00:00  07-Mar-2017 00:00       2.614475    5270.000000
23   07-Mar-2017 00:00  08-Mar-2017 00:00       2.225460    4673.000000
24   08-Mar-2017 00:00  09-Mar-2017 00:00       0.943442    2031.000000
25   09-Mar-2017 00:00  10-Mar-2017 00:00       1.713755    3660.000000
26   10-Mar-2017 00:00  11-Mar-2017 00:00       3.562009    7648.000000
27   11-Mar-2017 00:00  12-Mar-2017 00:00       2.593976    5538.000000
28   12-Mar-2017 00:00  13-Mar-2017 00:00       0.008090      18.000000
29   13-Mar-2017 00:00  14-Mar-2017 00:00       1.822382    3641.000000
..                 ...                ...            ...            ...
618  23-Oct-2018 00:00  24-Oct-2018 00:00       4.329771    8620.607413
619  24-Oct-2018 00:00  25-Oct-2018 00:00       2.800063    5609.158761
620  25-Oct-2018 00:00  26-Oct-2018 00:00       2.360521    4768.786261
621  26-Oct-2018 00:00  27-Oct-2018 00:00       1.813161    3786.809469
622  27-Oct-2018 00:00  28-Oct-2018 00:00       1.813161    3786.809469
623  28-Oct-2018 00:00  29-Oct-2018 00:00       1.813161    3786.809469
624  29-Oct-2018 00:00  30-Oct-2018 00:00       1.813161    3786.809469
625  30-Oct-2018 00:00  31-Oct-2018 00:00       1.813161    3786.809469
626  31-Oct-2018 00:00  01-Nov-2018 00:00       1.813161    3786.809469
627  01-Nov-2018 00:00  02-Nov-2018 00:00       1.813161    3786.809469
628  02-Nov-2018 00:00  03-Nov-2018 00:00       1.813161    3786.809469
629  03-Nov-2018 00:00  04-Nov-2018 00:00       1.813161    3786.809469
630  04-Nov-2018 00:00  05-Nov-2018 00:00       1.888710    3944.593196
631  05-Nov-2018 00:00  06-Nov-2018 00:00       1.813161    3786.809469
632  06-Nov-2018 00:00  07-Nov-2018 00:00       1.813161    3786.809469
633  07-Nov-2018 00:00  08-Nov-2018 00:00       1.813161    3786.809469
634  08-Nov-2018 00:00  09-Nov-2018 00:00       1.813161    3786.809469
635  09-Nov-2018 00:00  10-Nov-2018 00:00       1.813161    3786.809469
636  10-Nov-2018 00:00  11-Nov-2018 00:00       3.242472    6583.011800
637  11-Nov-2018 00:00  12-Nov-2018 00:00       0.760589    1636.300418
638  12-Nov-2018 00:00  13-Nov-2018 00:00       0.760589    1636.300418
639  13-Nov-2018 00:00  14-Nov-2018 00:00       2.249476    4803.189013
640  14-Nov-2018 00:00  15-Nov-2018 00:00       2.879560    6148.759908
641  15-Nov-2018 00:00  16-Nov-2018 00:00       2.879560    6148.759908
642  16-Nov-2018 00:00  17-Nov-2018 00:00       2.879560    6148.759908
643  17-Nov-2018 00:00  18-Nov-2018 00:00       2.879560    6148.759908
644  18-Nov-2018 00:00  19-Nov-2018 00:00       2.879560    6148.759908
645  19-Nov-2018 00:00  20-Nov-2018 00:00       2.879560    6148.759908
646  20-Nov-2018 00:00  21-Nov-2018 00:00       3.207426    6641.768126
647  21-Nov-2018 00:00  22-Nov-2018 00:00       2.025179    4255.000000

[648 rows x 4 columns]

## Testing `chart` module

As an overview the module will be imported and all functions in the `chart` module will be tested using trial data.

In [5]:
"""Test for the chart module
    Input: x coloumn initialized above as list, y column initialized above as list, xlabel, ylabel 
    Output: bar chart svg"""

import chart 
import pandas as pd 

date = liza_healthdata.data['Start'].tolist()
steps = liza_healthdata.data['Steps (count)'].tolist()

chart.chart(date, steps, 'Date', 'Steps') #svg file created in module folder

file://C:/Users/levan/AppData/Local/Temp/tmpvlws3c6g.html