In [1]:
""" Using Pandas to import file to test `maxmin` and `table` modules in MyFitness.summary sub-package
    Input: name (path, if needed) of "Health Data.csv" file
    Output: Pandas DataFrame """

import pandas as pd

health = pd.read_csv("Health Data.csv")
health.head()

               Start             Finish  Distance (mi)  Steps (count)
0  12-Feb-2017 00:00  13-Feb-2017 00:00       0.559483         1180.0
1  13-Feb-2017 00:00  14-Feb-2017 00:00       2.591677         5353.0
2  14-Feb-2017 00:00  15-Feb-2017 00:00       1.422008         3055.0
3  15-Feb-2017 00:00  16-Feb-2017 00:00       3.953369         7925.0
4  16-Feb-2017 00:00  17-Feb-2017 00:00       1.990246         4130.0

In [2]:
""" Test for `getMax` function in `maxmin` module.
    Input: DataFrame imported in the cell above.
    Output: Values for the date when the maximum number of steps were achieved: 
            Start date, Finish date, Distance(mi), Steps (count)"""

import maxmin

maxmin.getMax(health)

Start            17-Jun-2018 00:00
Finish           18-Jun-2018 00:00
Distance (mi)              10.0999
Steps (count)                21898
Name: 490, dtype: object

In [3]:
""" Test for `getMin` function in `maxmin` module.
    Input: DataFrame imported in the cell above.
    Output: Values for the date when the minimum number of steps were achieved: 
            Start date, Finish date, Distance(mi), Steps (count)"""

import maxmin

maxmin.getMin(health)

Start            07-May-2017 00:00
Finish           08-May-2017 00:00
Distance (mi)                    0
Steps (count)                    0
Name: 84, dtype: object

In [4]:
""" Test for `summary_data` function in `table` module.
    Input: DataFrame imported in the cell above.
    Output: A Pandas dataframe, summarizing the average number of steps taken by month, 
            indicated by the last date of the month."""

import table

table.summary_data(health)

                  steps
date
2017-02-28  5526.352941
2017-03-31  3804.387097
2017-04-30  4386.300000
2017-05-31  4125.516129
2017-06-30  7099.666667
2017-07-31  3904.516129
2017-08-31  3936.096774
2017-09-30  6560.033333
2017-10-31  4244.161290
2017-11-30  4133.733333
2017-12-31  3404.806452
2018-01-31  4326.935484
2018-02-28  4205.892857
2018-03-31  4097.096774
2018-04-30  4952.866667
2018-05-31  5068.580645
2018-06-30  8862.733333
2018-07-31  5380.387097
2018-08-31  3774.967742
2018-09-30  4804.000000
2018-10-31  4871.025866
2018-11-30  4604.152294